utf8.sh text working-tree-encoding=ISO8859-1 git-encoding=ISO8859-1
my_037.txt text working-tree-encoding=IBM-037
ascii.txt text working-tree-encoding=ISO8859-1 git-encoding=ISO8859-1
cacert.pem text working-tree-encoding=UTF-8
cacert.pem2 text working-tree-encoding=ISO8859-1 git-encoding=ISO8859-1
utf8.txt text working-tree-encoding=UTF-8
a.png binary
